.select {
    padding: 10px 8px;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: var(--text-light-secondary);
    background-color: #fff;
}
