<div class="login-forgot show">
  <div class="login-forgot-wrap">
      <button class="btn-tertiary btn-icon-only login-forgot-wrap__close" (click)="closeForgot()">
          <img src="../../assets/img/icon-close.png">
      </button>
      <div class="login-forgot-wrap__icon">
          <img src="../../assets/img/icon-lock.png" alt="img">
      </div>
      <p class="login-forgot-wrap__title">Password recovery</p>
      <p class="login-forgot-wrap__text">Enter the email associated with your account and we’ll send you instructions on how to reset your password.</p>
      <form [formGroup]="formPassword">
      <div class="login-forgot-wrap__footer">
          <input type="tex" class="input login-forgot-wrap__footer-input" placeholder="Enter email" formControlName="email">
          <button class="btn-primary" (click)="onForgotPassword()" [disabled]="formPassword.invalid">
              <span>Send email</span>
          </button>
        </div>
      </form>
  </div>
</div>

<app-toast [show]="showToast" [toast]="toast" *ngIf="showToast"></app-toast>
<app-loader *ngIf="loading"></app-loader>
